@model IEnumerable<StripeAndTwilio.Models.Package>
@{
    ViewBag.Title = "pakageSelection";
    Layout = "~/Views/Shared/_Theme.cshtml";
}
<script defer src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap&language=en&key=AIzaSyDetVuTnBlaepZ7h7VN-A-s8saBo40E5t4" type="text/javascript"></script>



<h2 class="text-center">Choose your vehicle</h2>

@foreach (var item in Model)
{
    <br />
    <div class="container" style="border:solid 1px; border-radius:10PX">
        <h3 class="text-center" style="margin-top:10px !important">@item.PackageName</h3>

        <div class="row">

            <div class="col-xs-6 col-md-3">
                <img src="~/Content/assets/images/SEDAN.jpg" style="width:100%" />


            </div>
            <div class="col-xs-3 col-md-2"><p style="margin-top:0px !important">Price</p></div>
            <div class="col-xs-3 col-md-2"><p style="margin-top:0px !important">@item.Intialamount £</p></div>
            <div class="col-xs-3 col-md-2"><p style="margin-top:0px !important">Person</p></div>
            <div class="col-xs-3 col-md-2"><p style="margin-top:0px !important">@item.Person</p></div>
            <div class="col-xs-3 col-md-2"><p style="margin-top:0px !important">Bags</p></div>
            <div class="col-xs-3 col-md-2"><p style="margin-top:0px !important">@item.Bags</p></div>
            <div class="col-xs-6 col-md-4"><p style="margin-top:0px !important">60 min free waiting time</p></div>
            <div class="col-xs-12 col-md-offset-2 col-md-2">
                <p style="margin-top:0px !important">
                    <a href="@Url.Action("CreateCheckoutSession","Home",new {amount=item.Intialamount.ToString(),pkg=item.PID})" class="btn btn-sm aligncenter" style="background-color: rgb(72, 169, 70); padding-top: 15PX; margin-bottom: -1em !important; padding-bottom: 15PX"><span> Book Now</span></a>
                </p>
            </div>
            @*<div class="col-sm-3"><p style="margin-top:0px !important">Person</p></div>
                <div class="col-sm-3"><h5 style="margin-top:0px !important">Up to 3</h5></div>*@
        </div>


        @*<div class="row">

                <div class="col-sm-12" >
                    <h3 class="text-center text-capitalize" style="margin-top:20px !important">Standard</h3>


                </div>
            </div>*@
        <br />


    </div>
}
<script type="text/javascript">
    function initMap() {
        // add input listeners
        google.maps.event.addDomListener(window, "load", function () {
            var from_places = new google.maps.places.Autocomplete(
                document.getElementById("from_places")
            );
            var to_places = new google.maps.places.Autocomplete(
                document.getElementById("to_places")
            );

            google.maps.event.addListener(
                from_places,
                "place_changed",
                function () {
                    var from_place = from_places.getPlace();
                    var from_address = from_place.formatted_address;
                    $("#origin").val(from_address);
                }
            );

            google.maps.event.addListener(
                to_places,
                "place_changed",
                function () {
                    var to_place = to_places.getPlace();
                    var to_address = to_place.formatted_address;
                    $("#destination").val(to_address);
                }
            );
        });
        // calculate distance
        function calculateDistance() {
            var origin = $("#origin").val();
            var destination = $("#destination").val();
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix(
                {
                    origins: [origin],
                    destinations: [destination],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.IMPERIAL, // miles and feet.
                    // unitSystem: google.maps.UnitSystem.metric, // kilometers and meters.
                    avoidHighways: false,
                    avoidTolls: false,
                },
                callback
            );
        }
        // get distance results
        function callback(response, status) {
            if (status != google.maps.DistanceMatrixStatus.OK) {
                $("#result").html(err);
            } else {
                var origin = response.originAddresses[0];
                console.log(origin);
                var destination = response.destinationAddresses[0];
                console.log(destination);
                if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
                    $("#result").html(
                        "Better get on a plane. There are no roads between " +
                        origin +
                        " and " +
                        destination
                    );
                } else {
                    var distance = response.rows[0].elements[0].distance;
                    console.log(distance);
                    var duration = response.rows[0].elements[0].duration;
                    console.log(duration);
                    console.log(response.rows[0].elements[0].distance);
                    var distance_in_kilo = distance.value / 1000; // the kilom
                    var distance_in_mile = distance.value / 1609.34; // the mile
                    console.log(distance_in_kilo);
                    console.log(distance_in_mile);
                    var duration_text = duration.text;
                    var duration_value = duration.value;
                    //alert(duration_value);
                    $("#mintid").val(duration_value);
                    $('form#formmintid').submit();
                    //$("#mile").html(
                    //    `Distance in Miles: ${distance_in_mile.toFixed(2)}`
                    //);
                    //$("#kilo").html(
                    //    `Distance in Kilometre: ${distance_in_kilo.toFixed(2)}`
                    //);
                    //$("#text").html(`Distance in Text: ${duration_text}`);
                    //$("#minute").html(`Distance in Minutes: ${duration_value}`);
                    //$("#from").html(`Distance From: ${origin}`);
                    //$("#to").text(`Distance to: ${destination}`);
                }
            }
        }
        // print results on submit the form
        $("#distance_form").submit(function (e) {
            e.preventDefault();
            calculateDistance();
        });
    }
</script>